<!DOCTYPE html>
<html>
<head>
    <title>G.Y.G.</title>
</head>
<body>
    <iframe width="10%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1892740836&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/titsmiggee" title="ignorantberries" target="_blank" style="color: #cccccc; text-decoration: none;">ignorantberries</a> · 
        <a href="https://soundcloud.com/titsmiggee/gg-1" title="g.y.g." target="_blank" style="color: #cccccc; text-decoration: none;">g.y.g.</a>
    </div>
    <br>
    <form action="{{ url_for('menu') }}" method="get">
        <button type="submit">Volver al Menú</button>
</body>
</html>
